* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@keyframes pan {
  100% {
    background-position: 15% 50%;
  }
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  background-image: url("image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: pan 6s infinite alternate linear;
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
}

canvas {
  display: block;
  width: 50%;
  height: 520px;
  margin: auto;
  padding: 10x 80px;
  border: 2px solid cornflowerblue;
  background-color: rgb(30, 25, 38);
}

button {
  display: block;
  font-size: inherit;
  margin: auto;
  padding: 0.6em;
}

pre {
  color: aliceblue;
  font-weight: 400;
  font-size: large;
}
